<nav>
    <ul>
        <li>
            <a href="">home</a>
            <a href="">contact</a>
            <a href="">gallery</a>
            <a href="">notes</a>
            <a href="">new</a>
        </li>
    </ul>
</nav>